/* Global Styles */
:root {
    --fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: var(--fontFamily);
}

section {
    padding: 4rem 0;
    text-decoration: none;
    color: white;
    background-color: rosybrown;
}

a {
    color: white;
}

img {
    width: 25%;
    border-radius: 20px;
}


/* Header Nav Styling */
header {
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    color: white;
}

header p {
    font-size: 1.8rem;
}

p {
    font-size: 1.15rem;
}

nav {
    width: 50%;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}
/* End Header Nav Styling */


/* Main Section Styling */
main {
    text-align: center;
    background-image: url('/Images/Kitchen.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

main h1 {
    background-color: white;
    color: rosybrown;
    padding: 1rem 0;
    font-size: 2.6rem;
}

main, #about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 4rem;
}

.content-container {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
    align-items: center;
}

.text-container {
    border: solid white 4px;
    width: 50%;
    background-color: rosybrown;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
/* End Main Section Styling */


/* Socials */
.socialLinks {
    display: flex;
    justify-content: space-around;
    width: 20rem;
    margin-top: 2rem;
    align-self: center;
}

.socialLinks a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 5px;
}
/* End Socials */


.submit-btn {
    color: rosybrown;
    padding: 12px;
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
    margin-top: 2rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.submit-btn:hover {
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25); /* Adds shadow on hover */

}


/* Project Section Styling */
#projects {
    background-color: rosybrown;
    text-align: center;
}

#projects h1 {
    font-size: 2rem;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project img {
    width: 100%;
    height: auto;
    margin: .5rem 0;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25rem;
    height: auto;
    background-color: white;
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.project h2, .project p {
    color: black;
}

.project a {
    display: block;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
}

.project a:hover {
    background-color: rosybrown;
    transition: 0.4s;
}
/* End Project Styling */


/* Contact Section Styling */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact h1 {
    margin-bottom: 1rem;
}

form label {
    margin-bottom: 0.2rem;
    font-weight: bold;
}

form input, form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1rem;
}

form textarea {
    resize: vertical; /* user can only adjust msg box vertically */
}

.g-recaptcha {
    margin-top: 1rem;
}
/* End Contact Section Styling */


/* Footer */
footer {
    background-color: black;
    color: white;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
}

footer p, a {
    font-size: 0.8rem;
}
/* .skills {
    padding: 1rem 0;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: white;
    color: black;
} */

/* Privacy Policy Section */
.privacy-policy {
    height: 100vh;
    padding: 2rem;
}

.privacy-policy a {
    color: black;
    font-size: 1rem;
    transition: color 0.3s ease, box-shadow 0.3s ease;
}

.privacy-policy a:hover {
    color: rosybrown;
}