/* Global Styles */
:root {
    --bg-body: lavender;
    --fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: var(--fontFamily);
}

section, footer {
    padding: 4rem 0;
    text-decoration: none;
    color: white;
    background-color: rosybrown;
}

a {
    color: white;
}

img {
    width: 25%;
    border-radius: 20px;
}


/* Header Nav Styling */
header {
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    color: white;
}

header p {
    font-size: 2rem;
}

p {
    font-size: 1.15rem;
}

nav {
    width: 50%;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
}

nav ul li a::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}
/* End Header Nav Styling */


/* Main Section Styling */
main {
    /* border: solid 2px purple; */
    text-align: center;
    background-image: url('/Images/Kitchen.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

main h1 {
    background-color: #333;
    padding: 1rem 0;
}

main, #about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 4rem;
}

.content-container {
    /* border: red solid 2px; */
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
    align-items: center;
}

.text-container {
    /* border: solid yellow 2px; */
    width: 50%;
    background-color: rosybrown;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}


/* Project Section Styling */
#projects {
    background-color: rosybrown;
    text-align: center;
}

#projects h1 {
    font-size: 2rem;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project img {
    width: 100%;
    height: auto;
    margin: .5rem 0;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25rem;
    height: auto;
    background-color: white;
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.project a {
    display: block;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
}

.project a:hover {
    background-color: blue;
    transition: 0.4s;
}

/* Contact Section Styling */
#contact {
    border: solid 2px blue;
}

/* Add more specific styles as needed */


/* Footer */
.skills {
    padding: 1rem 0;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: white;
    color: black;
}


/* Socials */
.socialLinks {
    border: solid 2px yellow;
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-self: center;
    padding: 20px;
}

.socialLinks a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}