body {
    background-color: #f8f8f8;
}

/* Header and Navigation */
header {
    background-color: var(--bg-body);
    color: black;
    padding: 20px;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
    margin-right: 10px;
}

/* Styling of cards layout on My Projects page */
#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.project {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

/* projectCards Component Styling */
.project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.project a {
    display: block;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
}