/* .body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.about-page {
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
}

.bio {
    border: solid 1px red;
    border-radius: 20px;
    background-color: pink;
    font-size: 22px;
    width: 40%;
    padding: 40px;
    gap: 100px;
}

img {
    border: solid 2px red;
    width: 350px;
    object-fit: contain;
}